@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<style>
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
</style>

<div class="row justify-content-center">
    <div class="col-8 col-sm-6">
        <h1 class="text-center">All Roles</h1>
    </div>
</div>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="CreateRole">Add Role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-warning" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">
                Edit
                </a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <div class="card-title">
                <h5>
                    Use the button below to create role
                </h5>
                <a class="btn btn-primary" style="width:auto;" asp-controller="Administration" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    </div>
}