@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    table, th, td {
        border: 1px solid black;
        text-align:center;
    }
</style>
<div class="row">
    <header><h1>Your DashBoard</h1></header>
    <div class="col-md-12">
        <div class="form-group">
            <table style="width:100%; margin-top:10px;">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Your Work Time
                        </th>
                        <th>
                            Total Break Time
                        </th>
                        <th>
                            Total-Work Time
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>